In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [2]:
df = pd.read_csv("./data/hw0_dataset_1M.csv", names = [i for i in range(0,25)])
df.head()

C:\Users\khodg\AppData\Local\Temp\ipykernel_27892\840188311.py:1: DtypeWarning: Columns (17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./data/hw0_dataset_1M.csv", names = [i for i in range(0,25)])

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,NaN,key,doi-asserted-by,DOI,first-page,volume-title,author,year,volume,journal-title,...,issn-type,edition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,e_1_2_7_2_1,publisher,10.1038/35041545,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,e_1_2_7_3_1,publisher,10.1126/science.1155121,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,e_1_2_7_4_1,publisher,10.1007/s003820050007,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,e_1_2_7_5_1,publisher,10.1029/2000GL012471,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
keys = df[df.iloc[:,1] == 'key']

In [4]:
index = keys.index.values

In [5]:
low = 0
indexNum = 0
for x in index:
    if df.iloc[x].notna().sum() > low:
        low = df.iloc[x].notna().sum()
        indexNum = x

In [13]:
print(indexNum)

42114

In [14]:
new_df = pd.DataFrame(columns=df.iloc[indexNum])

In [15]:
print(new_df)

Empty DataFrame
Columns: [nan, key, doi-asserted-by, first-page, DOI, article-title, volume, author, year, journal-title, unstructured, issue, series-title, volume-title, edition, ISSN, issn-type, isbn-type, ISBN, nan, nan, nan, nan, nan, nan]
Index: []

[0 rows x 25 columns]

In [16]:
new_df = new_df.loc[:,new_df.columns.notna()]

In [17]:
rowData = []
for x in range(1,len(index)):
    dfx = df.iloc[index[x-1]:index[x],:]
    rowData += [dfx]

In [18]:
df123 = df.iloc[index[-1]:]
rowData += [df123]

In [19]:
rowData[-1].head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
983774,NaN,key,doi-asserted-by,DOI,first-page,article-title,volume,author,year,journal-title,...,issn-type,edition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983775,0.0,e_1_2_6_2_1,publisher,10.1127/0941-2948/2008/0337,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983776,1.0,e_1_2_6_3_1,publisher,10.1175/1520-0493(1987)115<0463:TGZITC>2.0.CO;2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983777,2.0,e_1_2_6_4_1,NaN,NaN,361.0,The characteristics of lightning occurrence in...,69.0,Finke U,1996.0,Contrib. Atmos. Phys.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983778,3.0,e_1_2_6_5_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
for y in rowData:
    y.columns = y.iloc[0]

In [34]:
test = rowData[0][1:].dropna(axis=1,how='all')

In [35]:
test.head()

,NaN,key,doi-asserted-by,DOI,first-page,volume-title,author,year,volume,journal-title,issue,series-title,unstructured,article-title,ISSN,issn-type,edition
1,0.0,e_1_2_7_2_1,publisher,10.1038/35041545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,e_1_2_7_3_1,publisher,10.1126/science.1155121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,e_1_2_7_4_1,publisher,10.1007/s003820050007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,e_1_2_7_5_1,publisher,10.1029/2000GL012471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,e_1_2_7_6_1,publisher,10.1029/2007GL029678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
test_frame = pd.concat([new_df,test])

In [46]:
holDf = new_df
for z in rowData:
    holDf = pd.concat([holDf,z[1:].dropna(axis=1,how='all')])

In [51]:
holDf.head()

,key,doi-asserted-by,first-page,DOI,article-title,volume,author,year,journal-title,unstructured,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,e_1_2_7_2_1,publisher,NaN,10.1038/35041545,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,e_1_2_7_3_1,publisher,NaN,10.1126/science.1155121,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,e_1_2_7_4_1,publisher,NaN,10.1007/s003820050007,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,e_1_2_7_5_1,publisher,NaN,10.1029/2000GL012471,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,e_1_2_7_6_1,publisher,NaN,10.1029/2007GL029678,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN