In [63]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [64]:
df = pd.read_csv("./data/hw0_dataset_1M.csv", names = [i for i in range(0,30)])
df.head()

C:\Users\khodg\AppData\Local\Temp\ipykernel_1576\3815970306.py:1: DtypeWarning: Columns (17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./data/hw0_dataset_1M.csv", names = [i for i in range(0,30)])

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,NaN,key,doi-asserted-by,DOI,first-page,volume-title,author,year,volume,journal-title,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,e_1_2_7_2_1,publisher,10.1038/35041545,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,e_1_2_7_3_1,publisher,10.1126/science.1155121,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,e_1_2_7_4_1,publisher,10.1007/s003820050007,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,e_1_2_7_5_1,publisher,10.1029/2000GL012471,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
indexs = df[df.iloc[:,1] == 'key'].index

In [66]:
indexs.values

array([     0,  42114,  85280, 167739, 210870, 252752, 295821, 337587,
       380293, 422810, 465281, 506287, 553091, 596720, 638334, 681477,
       725901, 767956, 810791, 855299, 897519, 940949, 983774],
      dtype=int64)

In [67]:
print(df.iloc[940949].notna().sum())

18

In [68]:
low = 0
lowsize = 0
for x in indexs.values:
    if df.iloc[x].notna().sum() >= low:
        low = x
        lowsize = df.iloc[x].notna().sum()

In [69]:
print(low,lowsize)

42114 18

In [70]:
headers = df.iloc[low]
df = df[1:]
df.columns = headers

In [71]:
df = df.iloc[:,1:lowsize+1].head()

In [72]:
df = df.rename_axis(None, axis=1)
df.head()

,key,doi-asserted-by,first-page,DOI,article-title,volume,author,year,journal-title,unstructured,issue,series-title,volume-title,edition,ISSN,issn-type,isbn-type,ISBN
1,e_1_2_7_2_1,publisher,10.1038/35041545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,e_1_2_7_3_1,publisher,10.1126/science.1155121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,e_1_2_7_4_1,publisher,10.1007/s003820050007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,e_1_2_7_5_1,publisher,10.1029/2000GL012471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,e_1_2_7_6_1,publisher,10.1029/2007GL029678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN