In [120]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [121]:
df = pd.read_csv("./data/hw0_dataset_1M.csv", names = [i for i in range(0,25)])
df.head()

C:\Users\khodg\AppData\Local\Temp\ipykernel_27456\840188311.py:1: DtypeWarning: Columns (17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./data/hw0_dataset_1M.csv", names = [i for i in range(0,25)])

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,NaN,key,doi-asserted-by,DOI,first-page,volume-title,author,year,volume,journal-title,...,issn-type,edition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,e_1_2_7_2_1,publisher,10.1038/35041545,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,e_1_2_7_3_1,publisher,10.1126/science.1155121,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,e_1_2_7_4_1,publisher,10.1007/s003820050007,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,e_1_2_7_5_1,publisher,10.1029/2000GL012471,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
keys = df[df.iloc[:,1] == 'key']

In [129]:
index = keys.index.values

In [140]:
low = 0
indexNum = 0
for x in index:
    if df.iloc[x].notna().sum() > low:
        low = df.iloc[x].notna().sum()
        indexNum = x

In [141]:
print(indexNum)

42114

In [158]:
new_df = pd.DataFrame(columns=df.iloc[indexNum])

In [159]:
print(new_df)

Empty DataFrame
Columns: [nan, key, doi-asserted-by, first-page, DOI, article-title, volume, author, year, journal-title, unstructured, issue, series-title, volume-title, edition, ISSN, issn-type, isbn-type, ISBN, nan, nan, nan, nan, nan, nan]
Index: []

[0 rows x 25 columns]

In [160]:
new_df = new_df.loc[:,new_df.columns.notna()]

Empty DataFrame
Columns: [key, doi-asserted-by, first-page, DOI, article-title, volume, author, year, journal-title, unstructured, issue, series-title, volume-title, edition, ISSN, issn-type, isbn-type, ISBN]
Index: []

In [177]:
rowData = []
for x in range(1,len(index)):
    dfx = df.iloc[:index[x],:]
    rowData += [dfx]
    break

In [179]:
for x in range(len(rowData)):
    pass

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,NaN,key,doi-asserted-by,DOI,first-page,volume-title,author,year,volume,journal-title,...,issn-type,edition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,e_1_2_7_2_1,publisher,10.1038/35041545,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,e_1_2_7_3_1,publisher,10.1126/science.1155121,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,e_1_2_7_4_1,publisher,10.1007/s003820050007,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,e_1_2_7_5_1,publisher,10.1029/2000GL012471,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN