In [2]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [3]:
df = pd.read_csv("./data/hw0_dataset_1M.csv", names = [i for i in range(0,30)])
df.head()

C:\Users\khodg\AppData\Local\Temp\ipykernel_8072\3815970306.py:1: DtypeWarning: Columns (17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./data/hw0_dataset_1M.csv", names = [i for i in range(0,30)])

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,NaN,key,doi-asserted-by,DOI,first-page,volume-title,author,year,volume,journal-title,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,e_1_2_7_2_1,publisher,10.1038/35041545,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,e_1_2_7_3_1,publisher,10.1126/science.1155121,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,e_1_2_7_4_1,publisher,10.1007/s003820050007,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,e_1_2_7_5_1,publisher,10.1029/2000GL012471,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
indexs = df[df.iloc[:,1] == 'key'].index

In [5]:
indexs.values

array([     0,  42114,  85280, 167739, 210870, 252752, 295821, 337587,
       380293, 422810, 465281, 506287, 553091, 596720, 638334, 681477,
       725901, 767956, 810791, 855299, 897519, 940949, 983774],
      dtype=int64)

In [6]:
print(df.iloc[940949].notna().sum())

18

In [7]:
low = 0
lowsize = 0
for x in indexs.values:
    if df.iloc[x].notna().sum() >= low:
        low = x
        lowsize = df.iloc[x].notna().sum()

In [8]:
print(low,lowsize)

42114 18

In [12]:
df.iloc[:,1:lowsize+1].head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,key,doi-asserted-by,DOI,first-page,volume-title,author,year,volume,journal-title,issue,series-title,unstructured,article-title,ISSN,issn-type,edition,NaN,NaN
1,e_1_2_7_2_1,publisher,10.1038/35041545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,e_1_2_7_3_1,publisher,10.1126/science.1155121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,e_1_2_7_4_1,publisher,10.1007/s003820050007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,e_1_2_7_5_1,publisher,10.1029/2000GL012471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN